{%extends 'payment/base.html'%} {%block content%}
<h1 style="text-align: center">Learn how we help people affected by floods</h1>
<p style="text-align: center">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolor saepe
  maxime harum consequuntur ab sequi fuga nam nihil beatae tenetur, temporibus
  debitis ad at, repellat explicabo quam corporis deserunt.
</p>
<a
  style="width: auto; left: 50%; position: relative; transform: translate(-50%)"
  class="btn btn-outline-primary"
  href="{%url 'home'%}"
  >Want to help us out?</a
>
{%endblock%}
